name: Lint

on:
  workflow_call:
    inputs:
      # Internal.
      docker_image:
        default: 'koreader/kobase:0.4.2-22.04'
        type: string

defaults:
  run:
    shell: bash

jobs:

  lint:

    name: Lint

    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.docker_image }}

    env:
      BASH_ENV: '/home/ko/.bashrc'
      CLICOLOR_FORCE: '1'

    steps:

      - name: Checkout
        uses: actions/checkout@v6
        with:
          clean: false
          fetch-depth: 1
          show-progress: false

      - name: Lint
        run: ./.ci/check.sh

# vim: foldmethod=marker foldlevel=0
